.filter-components {
  display: flex;
  flex-direction: column;
  max-width: 900px !important;
}

.search-reset {
    margin: 0 0 0 10px;
    font-size: 0.9rem;
  }

@media screen and (max-width: 994px) {
  .search-reset {
    font-size: 0.8rem !important;
  }
  .location-filter-bar {
    width: 600px !important;
  }
  .date-filter,
  .regular-filter,
  .species-filter {
    width: 237px !important;
  }
}

@media screen and (max-width: 818px) {
  .search-reset {
    font-size: 0.7rem !important;
  }
  .location-filter-bar {
    width: 550px !important;
  }
  .date-filter,
  .regular-filter,
  .species-filter {
    width: 216px !important;
  }
}

@media screen and (max-width: 730px) {
    .combined-search, .single-search{
        flex-direction: column;
        align-items:center
    }

    .search-reset {
      font-size: 1.0rem !important;
      width: 450px;
      border-radius: 15px !important;
      margin:0px !important;
    }
    .location-filter-bar {
      width: 450px !important;
      margin-bottom: 15px;
    }
    .date-filter,
    .regular-filter,
    .species-filter {
      width: 450px !important;
      border-radius: 15px !important;
      margin-top: 7px;
    }
  }

@media screen and (max-width: 593px) {
    .search-reset, .location-filter-bar, .date-filter, .regular-filter, .species-filter {
        width: 350px !important;
    }
}

@media screen and (max-width: 451px) {
    .search-reset, .location-filter-bar, .date-filter, .regular-filter, .species-filter {
        width: 280px !important;
    }
}

@media screen and (max-width: 353px) {
    .search-reset, .location-filter-bar, .date-filter, .regular-filter, .species-filter {
        width: 250px !important;
    }
}

@media screen and (max-width: 303px) {
    .search-reset, .location-filter-bar, .date-filter, .regular-filter, .species-filter {
        width: 215px !important;
    }
}