.navbar-expand .navbar-nav .nav-link {
  /* padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; */
}
.navbar {
  box-shadow: none;
}

.bg-light {
  background-color: black !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  font-weight: bold !important;
}

.navbar-brand {
  color: white !important;
  font-size: 35px !important;
  font-weight: bolder;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

.nav-link:hover,
.nav-link:focus {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-weight: 300;
}
