.image-upload {
  height: 100px !important;
  width: 100px !important;
}

.active .bs-stepper-circle{
  background-color: #55A7AE !important;
  color: white;
}

.active .step-trigger {
  color: #55A7AE !important
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
}

.bs-stepper .step-trigger{
  color: white !important;
}

.bs-stepper-circle {
  background-color: white !important;
  color:rgb(151, 151, 151);
}

