.glassContainer {
  background-color: rgba(255, 255, 255, 0.35);
  min-width: 75vw;
  z-index: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(30px);
  color: #274168;
  margin-bottom: 0.5vh;

}

.glassContainer:before {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  z-index: -1;
  filter: blur(30px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  color: #274168;
}


.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #118c99 !important;
}

.nav-tabs .nav-link {
  font-size:25px
}

.glass{
  z-index: 10;
  padding-left:15% !important;
  padding-right: 15% !important;
}

@media screen and (max-width: 588px) {
  .glass{
    padding-left:5% !important;
    padding-right:5% !important;
  }
  .form-label{
    font-size:0.8rem;
  }
  .glassContainer {
    min-width: 90vw;
    max-width: 90vw;
  }
}

@media screen and (max-width: 470px) {
  .nav-tabs .nav-link {
    font-size:15px
  }
}