body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing {
  background-image: url("./assets/Cat.jpg");
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.report,
.posting,
.auth-page,
.details,
.profile,
.thankyou-page {
  background: linear-gradient(to right, #67b26f, #4ca2cd) fixed;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

.form-select,
.form-control {
  border-radius: 10px !important;
  margin-bottom: 10px;
  margin-top: 0px;
}
.form-label {
  margin-bottom: 0px;
}
