.detail-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-container {
  background-color: rgba(255, 255, 255, 0.35);
  min-width: 75vw;
  max-width:95vw;
  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  backdrop-filter: blur(30px);
  color: #274168;
  margin-bottom: 0.5vh;
}

.detail-container:before {
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  z-index: -1;
  filter: blur(30px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  color: #274168;
}

.detail-badge-found {
  background-color: #274168 !important;
  width: 25vw;
  padding-top: 5%;
  padding-bottom: 5%;
}

.detail-badge-lost {
  background-color: #d23622 !important;
  text-transform: capitalize;
  width: 25vw;
}

.detail-page {
  color: white;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  border-radius: 7px;
  height: 2.5rem;
  font-size: 1.2rem;
}

.detail-page > p {
  margin-bottom: 0 !important;
}

.details-image {
  max-width: 20rem;
  /* max-height: 100px; */
  border-radius: 15px;
}

.detailInputs {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.detailInputs > p {
  margin-bottom: 0;
}

.detailLabels {
  margin-top: 10%;
  margin-bottom: 5%;
}

.detailInfoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailDescription-no-content {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-height: 100%;
  max-height: 100%;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.detailDescription-content {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-height: 100%;
  max-height: 100%;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-weight: 500;
  overflow-y: scroll;
  overflow: auto;
  padding: 15px;
}

.detailButtons {
  display: flex;
  flex-direction: row;
  padding-right: 40px !important;
  padding-left: 0px !important
}

.post-id {
  display: flex;
  justify-content: flex-end;
}

.right-padding {
  padding-right: 40px !important;
  
}

.left-padding {
  padding-left:40px !important
}

.pet-info-container{
  padding-left: 15%;
  padding-right: 15%
}

@media screen and (max-width: 1364px) {
  .btn{
    font-size: 0.8rem !important;
  }
  .detailLabels{
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 997px) {
  .pet-post-status{
    flex-direction: column;
  }
  .post-id {
    justify-content: flex-start;
  }
  .pet-info-container{
    padding-left:5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 991px) {
  .right-padding {
    padding-right:0px !important;
  }
  .left-padding {
    padding-left:0px !important;
  }
  .map-detail{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .all-buttons{
    flex-direction: column;
  }
  .detailButtons{
    padding-right:0px !important;
  }
  .btn-primary{
    margin-top: 1vh !important;
  }
  .details-image{
    max-width: 15rem;
  }
  .left-padding{
    padding-right:0px !important
  }
}

@media screen and (max-width: 310px){
  .btn{
    font-size: 0.7rem !important;
  }
  .detailLabels{
    font-size: 0.7rem !important;
  }
  .details-image{
    max-width: 12rem;
  }
}